restApiId: ahxeky2qvz
restApiRootResourceId: poiuytreds
globalEnv:
  ADMIN_SECRET: helloworld
  HASURA_JWT_SECRET: ef1ca7491dee871be5f0e33a6d3f3e631bc8a69136fa49fddf3f3ca5bf3bd714
  HGE_ENDPOINT: http://hasura-graphql-engine:8080
  AWS_S3_SIGNED_EXPIRE: "3600"
  MAX_RAW_SIZE: 50mb
  MAX_JSON_SIZE: 50mb

vpc:
  subnetIds:
    - subnet-051ebc7a4a7aa6a13
    - subnet-02a84ce5cc09c2490
  securityGroupIds:
    - sg-0c5be89b12d012160